
@{
    ViewBag.Title = "No Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>
<ul>
    <li>Connection to MS SQL Server;</li>
    <li>Build SQL query through visual tools;</li>
    <li>Save query to *.TXT;</li>
    <li>Send query to e-mail;</li>
    <li>Opportunity to view ER-model;</li>
    <li>Save query result to *.PDF and *.XLS</li>
</ul>