@model QueryBuilderMVC.Models.ProjectViewModel

<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Notification" aria-expanded="false">
    @if (ViewBag.CountInvited > 0)
    {
        if (ViewBag.CountInvited < 9)
        {
            <div id="CountInvited">@ViewBag.CountInvited</div>
        }
        else
        {
            <div id="CountInvited" style="font-size: 15px;">•</div>
        }
    }
</a>

<ul class="dropdown-menu dropdown-user">
    @foreach (var item in Model.Projects)
    {
        if (item.UserRole == 0 && item.ProjectID != 0)
        {
            <li>
                <div class="invites">
                    <i>@item.ProjectName </i>
                    <i class="AcceptInvite" >@Html.ActionLink(" ", "AcceptInvite", "Workflow", new { id = item.ProjectID},null) </i>
                    <i class="DeleteInvite">@Html.ActionLink(" ", "DeleteInvite", "Workflow", new { id = item.ProjectID },null) </i>

                </div>
            </li>

        }
    }
     
</ul>
