<div id="nodata_jqg" style="display: none; text-align: center; font-weight: bold;">No data for display...<br/></div>

<div id="gridWrapper">
    <table id="jqg"></table>
    <div id="jpager"></div>
</div>
